# Default config in : /Applications/sioyek.app/Contents/MacOS/keys.config
# Place this into   : /Users/$USER/Library/Application Support/sioyek/keys_user.config
screen_down d
screen_up u
enter_visual_mark_mode <space>
close_visual_mark <S-<space>>
toggle_fullscreen <C-f>
prev_state H
next_state L
next_page <C-j>
previous_page <C-k>
