[core]
  editor = vim
  pager = delta

[user]
  name = Cheongyo Bahk
  email = cg.bahk@gmail.com

[diff]
  tool = vimdiff

[pull]
  ff = only

[interactive]
  diffFilter = delta --color-only

[init]
  defaultBranch = main

[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse
  syntax-theme = Solarized (dark)

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold
  file-decoration-style = box
  hunk-header-decoration-style = none
